{#
	single.twig

	This is the individual blog post template.
#}
{% extends "index.twig" %}
{#
	Need to run a definitive test to see if the srcset attribute has any bearing, given the way that WP handles media files.
#}
{#
	Note that according to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img, description is not valid
	attributes of the image tag in HTML5.
#}
{% block hero %}
	{% if post.thumbnail %}
	<div class="hero">
		<img src="{{ post.thumbnail.src|relative }}"
			 alt="{{ post.thumbnail.alt|e }}"
			 title="{{ post.thumbnail.title|e }}" />
		<caption>{{ post.thumbnail.caption|e }}</caption>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	{{ post.content }}	
{% endblock %}
